<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OAuth Tutorials</title>

    <!-- custom stylesheet -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    
<nav>
    <ul>
    <a href="/">Home</a>
    <a href="/auth/logout">Logout</a>
    </ul>
</nav>

<header>
    <h1>Welcome</h1>
    <h2><%= user.username %> </h2>
</header>

<main>
    <p>extra info about user </p>
</main>


</body>
</html>